@import "tailwindcss";

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827; /* A dark background matching the theme */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #10b981, #06b6d4);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #34d399, #22d3ee);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #111827;
}